name: Security Scan (SonarQube + Bandit)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"


    # -----------------------------
    # Bandit SAST Scan
    # -----------------------------

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit Scan
      run: bandit -r . -ll -f txt -o bandit-report.txt
      continue-on-error: true
    - name: Upload Bandit Report
      uses: actions/upload-artifact@v4
      with:
        name: bandit-report
        path: bandit-report.txt


    # -----------------------------
    # SonarQube Scan
    # -----------------------------

    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v2
      with:
        args: >
          -Dsonar.projectKey=Arugnata
          -Dsonar.sources=.
          -Dsonar.python.version=3.9
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
